#middle {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.mid {
    margin: 0 auto;
    width: 100%;
    
    
}

#btns {
    
}

button {
    margin-right: 1rem;
    background-color: rgb(247, 247, 247);
    width: auto;
    height: 30px;
    color: rgb(126, 126, 126);
    padding: 0.5rem;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 0.2rem;
    font-weight: bold;
    
}

button:hover {
    border: 1px solid  rgb(182, 182, 182);
    color: rgb(90, 90, 90);
}

input {
    position: relative;
    height: 2rem;
    
    width: 100%;
    margin: 25px 0px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 0.2rem;
}

.mic{
    background: url(//www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png) 0 0 no-repeat;
    height: 24px;
    width: 24px;
    background-size: 24px;
    
    position: relative;
    top: -3.4rem;
    left: 90%;
    
}

.mid > div{
    position: relative;
    width: 150%;
    left: -25%;
}